html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
}

#html5-qrcode-anchor-scan-type-change {
  display: none !important;
}

#html5qr-code-full-region {
  border: none !important;
}

#html5qr-code-full-region > div:first-child {
  display: none;
}
